@{
  ViewBag.Title = "Thank You";
}

<div class="jumbotron">
  <h1>O.P.P. (Yeah You Know Me)</h1>
  <p class="lead"><b><u>Open Permit Process</u></b> Leverages Mapping and Permit Defition Data to Provide a simpler way for Residents, Businesses, Organizations and Contractors to find and complete Permit Applications</p>
  <p><a href="/Home/FindPermit" class="btn btn-primary btn-lg">Find Your Permit &raquo;</a></p>
  <h2><i>Thank you, your Permit has been submitted</i></h2>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Types of Permits</h2>
    <p>
      Permits Range from Business Signage to Resident Block Partys and City Parade Routes and many, many more.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Data Providers</h2>
    <p>Javascript Mapping provided by Open Layers,Open GIS Data provided by Hennepin County's GIS department and Permits Downloaded from the City of Minneapolis</p>
  </div>
  <div class="col-md-4">
    <p>
      <a class="btn btn-default" href="http://openlayers.org/" target="_blank">Open Layers &raquo;</a><br /><br />
      <a class="btn btn-default" href="http://www.hennepin.us/your-government/open-government/gis-open-data" target="_blank">Hennepin GIS &raquo;</a><br /><br />
      <a class="btn btn-default" href="http://www.minneapolismn.gov/mdr/permits/mdr_permits_applyingforpermit" target="_blank">Minneapolis Permits &raquo;</a>
    </p>
  </div>
</div>
